body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    background-color: #f8f9fa;
    flex-direction: column;
    padding-bottom: 20px;
}

form{
    display: flex; 
    flex-direction: column;
    align-items: center;
    width: 100%;
}

h1{
    font-family: monospace;
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
}

input, select, button {
    width: 90%;
    max-width: 300px;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input {
    font-size: 16px;
}

button{
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border: none;
    width: auto;
    padding: 10px 20px;
    transition: 0.3s;
}

button:hover{
    background-color: #0056b3;
}

@media (max-width: 600px) {
   
}

table {
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    border-collapse: collapse;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 10px;
    overflow: hidden;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

th{
    background-color: #f4f4f4;
}

header{
    top: 0;
    display: flex;
    flex-direction: row;
    background-color: #d4d3d3cd;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;

   
}
.cabecalho{
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;

}


.tech img{
    width: 100px;
}
.newton img{
    width: 90px;
    padding-top: 10px;
}

.iema img{
    width: 150px;
}

